<html>
<head>
    <title>Sintesis UF3 - P13</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="css/mystyle.css" rel="stylesheet" type="text/css"/>
    <script src="js/angular.min.js" type="text/javascript"></script>
    <script src="js/ng-order-object-by.js" type="text/javascript"></script>
    <script src="js/angular-resource.js" type="text/javascript"></script>
    <script src="js/controller.js" type="text/javascript"></script>
    <script src="js/service.js" type="text/javascript"></script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
    <div class="container">
        <h1>Memory!</h1>
        <div class="col-lg-12">
            <button type="button" class="btn btn-block btn-success" ng-click="loadImage()">New!</button>
        </div>
        <div class="col-lg-6">
            <div height="100" width="100">
                <img src="{{image.ruta}}" alt="" ng-mouseenter="loadClue()" ng-mouseleave="loadAns()"/>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <h3>
                    {{pista.pista}}
                </h3>
            </div>
            <div ng-switch="dispAns" class="row">

                <div ng-switch-when="true">
                    <button type="button" class="btn btn-info btn-block" ng-click="evaluateAns(true)" id="respuesta1">
                        {{pregunta.good}}
                    </button>
                    <button type="button" class="btn btn-info btn-block" ng-click="evaluateAns(false)" id="respuesta2">
                        {{pregunta.bad}}
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h3>Register</h3>
                <hr>
                <label>Nombre</label>
                <input type="text" class="form-control" ng-model="user.nombre" ng-change="user.puntos=0">
                <label>Edad</label>
                <input type="text" class="form-control" ng-model="user.edad">
                <label>Puntos</label>
                <input type="number" class="form-control" disabled="" ng-model="user.puntos">
                <hr>
                <button type="button" class="btn btn-success col-lg-offset-5" ng-click="insertUser()">New / Update</button>
            </div>
            <div class="col-lg-6">
                <h3>Ranking</h3>
                <div class="row">

                    <div class="col-lg-3" ng-click="setCriteria('nombre')">
                        Nombre
                    </div>
                    <div class="col-lg-3" ng-click="setCriteria('edad')">
                        Edad
                    </div>
                    <div class="col-lg-2" ng-click="setCriteria('puntos')">
                        Puntos
                    </div>
                    <div class="col-lg-2">
                        Del
                    </div>
                    <div class="col-lg-2">
                        Edit
                    </div>
                </div>
                <hr>
                <div class="row" ng-repeat="x in users| orderBy:orderCriteria:orderSort track by $index">
                    <div class="col-lg-3">
                        {{x.nombre}}
                    </div>
                    <div class="col-lg-3">
                        {{x.edad}}
                    </div>
                    <div class="col-lg-2">
                        {{x.puntos}}
                    </div>
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-danger" ng-click="delPlayer(x.nombre)">X</button>
                    </div>
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-default" ng-click="editPlayer(x.nombre, x.edad, x.puntos)">E
                        </button>
                    </div>
                </div>
                <button type="button" class="btn btn-success col-lg-offset-5" ng-click="loadUsers()">Actualizar</button>
            </div>
        </div>
    </div>
</body>
</html>
