<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/jquery-3.1.0.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/angular.js"></script>
    <link rel="stylesheet" href="css/custom.css" >
</head>
<body ng-app="myApp">

<div class="container">
    <h3>Exercici 1</h3>
    <div ng-controller="ex1" class="row">
        <div ng-repeat="numero in numeros track by $index">
            {{numero}}
        </div>
    </div>
    <h3>Exercici 2</h3>
    <div ng-controller="ex2" class="row">
        <div ng-repeat="numero in numeros1 track by $index">
            {{numero}}
        </div>
    </div>
</div>

</body>
</html>