<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/jquery-3.1.0.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/angular.js"></script>
    <link rel="stylesheet" href="css/custom.css" >
</head>
<body ng-app="myApp">

<div class="container" ng-controller="angular">
    <h3>Exercici 1</h3>
    <div class="row">
        <div ng-repeat="numero in numeros track by $index">
            {{numero}}
        </div>
    </div>
    <h3>Exercici 2</h3>
    <div class="row">
        Primer número {{numeros[0]}}
        último número {{numeros[numeros.length-1]}}
    </div>
    <h3>Exercici 3</h3>
    <div class="row">
        <input type="text" ng-model="numFinal"/>
        <button class="btn btn-default" ng-click="addNumFinal();">Add num final</button>
    </div>
    <h3>Exercici 4</h3>
    <div class="row">
        <input type="text" ng-model="numInicial"/>
        <button class="btn btn-default" ng-click="addNumInicial();">Add num Inicial</button>
    </div>

    <h3>Exercici 5</h3>
    <div class="row">
        <button class="btn btn-default" ng-click="numRemove();">Elimina últim número</button>
    </div>

    <h3>Exercici 6</h3>
    <div class="row">
        <button class="btn btn-default" ng-click="numFirstRemove();">Borrar primer número</button>
    </div>
    <h3>Exercici 7</h3>
    <div class="row">
        <input type="text" ng-model="simCalcular"/>
        <button class="btn btn-default" ng-click="calcular();">Calcular signe</button>
        <br>
        Resultat: <label>{{result}}</label>
    </div>
    <h3>Exercici 8</h3>
    <div class="row">
        <input type="text" ng-model="inputDelPos"/>
        <button class="btn btn-default" ng-click="delPos();">Eliminar posició concreta</button>
        <br>
        <div ng-repeat="numero in numeros track by $index">
            {{numero}}
        </div>
    </div>
    <h3>Exercici 9</h3>
    <div class="row">
        <input type="text" ng-model="inputDelNum"/>
        <button class="btn btn-default" ng-click="delNum();">Eliminar Número</button>
        <br>
        <div ng-repeat="numero in numeros track by $index">
            {{numero}}
        </div>
    </div>
</div>


</body>
</html>