<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">{{titlepage}}</h1>

    </div>
</div>
<hr>
<div class="list-group">
    <a class="list-group-item list-group-item-action">Patatas</a>
    <a class="list-group-item list-group-item-action">Jamón</a>
    <a class="list-group-item list-group-item-action">Cereales</a>
</div>
<button class="btn btn-success">Add item</button>
<button class="btn btn-warning">Share lista</button>
<button class="btn btn-primary">Edit lista</button>